[Arduino]
row=3
col=2

[ycm_build]
row=5
col=1

[Lenovo]
row=2
col=1

[Android]
row=3
col=1

[song4.mp3]
row=3
col=4

[Pictures]
row=0
col=5

[Music]
row=4
col=5

[Documents]
row=3
col=5

[info.log]
row=4
col=3

[es]
row=0
col=1

[logs]
row=0
col=2

[slim-themes]
row=1
col=3

[song.mp3]
row=6
col=3

[Wallpapers]
row=1
col=2

[is]
row=5
col=2

[og]
row=6
col=1

[sketchbook]
row=2
col=2

[Art]
row=4
col=1

[song3.mp3]
row=1
col=4

[song2.mp3]
row=0
col=4

[ua]
row=0
col=3

[mnt]
row=1
col=1

[libraries]
row=4
col=2

[ud]
row=6
col=2

[test]
row=6
col=0

[Programming]
row=2
col=3

[Downloads]
row=2
col=5

[design.png]
row=3
col=3

[Qt]
row=2
col=4

[node_modules]
row=5
col=3

[584 GB Volume]
row=4
col=0

[215 GB Volume]
row=3
col=0

[86 GB Volume]
row=5
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

