[song.mp3]
row=6
col=3

[Documents]
row=3
col=5

[slim-themes]
row=1
col=3

[song2.mp3]
row=0
col=4

[es]
row=0
col=1

[other-vms]
row=7
col=0

[is]
row=5
col=2

[Programming]
row=2
col=3

[Qt]
row=2
col=4

[Android]
row=3
col=1

[og]
row=6
col=1

[node_modules]
row=5
col=3

[song3.mp3]
row=1
col=4

[logs]
row=0
col=2

[ua]
row=0
col=3

[libraries]
row=4
col=2

[test]
row=6
col=0

[Lenovo]
row=2
col=1

[ud]
row=6
col=2

[ycm_build]
row=5
col=1

[Art]
row=4
col=1

[info.log]
row=4
col=3

[Music]
row=4
col=5

[design.png]
row=3
col=3

[song4.mp3]
row=3
col=4

[Arduino]
row=3
col=2

[Wallpapers]
row=1
col=2

[Downloads]
row=2
col=5

[Pictures]
row=0
col=5

[sketchbook]
row=2
col=2

[mnt]
row=1
col=1

[584 GB Volume]
row=4
col=0

[215 GB Volume]
row=3
col=0

[86 GB Volume]
row=5
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

