[user]
	email = {{ .email }}
	name = Antonio Mindov
{{- if hasKey . "signingKey" }}
	signingkey = {{ .signingKey }}
{{- end }}
[alias]
	track = checkout --track
	co = checkout
	main = checkout main
	cb = checkout -b
	st = status -sb
	oops = commit --amend --no-edit
	alias = config --get-regexp ^alias\\.
	save = stash --include-untracked
	rcont = rebase --continue
	cont = town continue
	sw = town switch
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	hack = town hack
	delete = town delete
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
	up = town up
	down = town down
[push]
	default = current
[pull]
	rebase = true
[help]
	autocorrect = -1
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[submodule]
	recurse = true
[core]
	autocrlf = input
	excludesFile = ~/.gitignore
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
