[user]
	email = {{ .email }}
	name = Antonio Mindov
[alias]
	track = checkout --track
	co = checkout
	main = checkout main
	cb = checkout -b
	st = status -sb
	oops = commit --amend --no-edit
	alias = config --get-regexp ^alias\\.
	save = stash --include-untracked
[push]
	default = current
[help]
	autocorrect = -1
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[submodule]
	recurse = true
[core]
	autocrlf = input
