[song.mp3]
row=2
col=5

[Documents]
row=5
col=3

[slim-themes]
row=2
col=2

[song2.mp3]
row=3
col=5

[es]
row=4
col=4

[other-vms]
row=0
col=6

[is]
row=1
col=3

[Programming]
row=3
col=3

[Qt]
row=0
col=3

[Android]
row=5
col=1

[og]
row=5
col=2

[node_modules]
row=0
col=4

[song3.mp3]
row=4
col=5

[logs]
row=1
col=2

[ua]
row=2
col=3

[libraries]
row=4
col=2

[test]
row=1
col=4

[Lenovo]
row=5
col=4

[ud]
row=2
col=1

[ycm_build]
row=1
col=5

[Art]
row=3
col=4

[info.log]
row=3
col=1

[Music]
row=0
col=1

[design.png]
row=3
col=2

[song4.mp3]
row=5
col=5

[Arduino]
row=0
col=2

[Wallpapers]
row=2
col=4

[Downloads]
row=4
col=3

[Pictures]
row=1
col=1

[sketchbook]
row=4
col=1

[mnt]
row=0
col=5

[215 GB Volume]
row=3
col=0

[86 GB Volume]
row=5
col=0

[584 GB Volume]
row=4
col=0

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

